@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply min-h-screen;
	}
}

@layer components {
	.test {
		@apply mb-5 w-full max-w-[305px] cursor-pointer;
	}
}

.modalWrapper {
	width: 450px;
	height: 530px;
}

.image {
	text-align: center;
	width: 100%;
}
.image img {
	text-align: center !important;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.main-title h3 {
	font-size: 26px;
	font-weight: 600;
}
.main-title {
	padding-top: 2%;
	padding-bottom: 2%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.google,
.apple {
	display: flex;

	justify-content: center;
}

.g-button,
.a-button {
	display: flex;
	border: 1px solid #dcdee2;
	padding: 10px;
	border-radius: 50px;
	padding-left: 40px;
	padding-right: 40px;
	justify-content: center;
	align-items: center;
	width: 256px;
}
.g-button .text,
.a-button .text {
	padding-left: 10px;
	font-size: 15px;
}
.g-button {
	margin-top: 20px;
	margin-bottom: 20px;
}

/*Might need to change */

.wrapper-break {
	height: 60px;
	display: flex;
	/* flex-direction: row; */
	justify-content: center;
	align-items: center;
}

.line-div {
	width: 28%;
	background: #cfd9de;
	height: 1px;
	margin: 10px;
}
.create-acc-button {
	display: flex;

	justify-content: center;
}
.c-button {
	display: flex;
	border: 1px solid #dcdee2;
	padding: 10px;
	border-radius: 50px;
	padding-left: 40px;
	padding-right: 40px;
	justify-content: center;
	align-items: center;
	background: black;
	color: white;
	width: 256px;
}

.forgot-pwd-button {
	display: flex;
	margin-top: 22px;
	justify-content: center;
	margin-bottom: 48px;
}
.fg-button {
	display: flex;
	border: 1px solid #dcdee2;
	padding: 10px;
	border-radius: 50px;
	padding-left: 40px;
	padding-right: 40px;
	justify-content: center;
	align-items: center;
	background: white;
	color: black;
	width: 256px;
}
.acknowledgment-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}

.acknowledgment-text {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 13px;
	width: 280px;
}

.login-text {
	text-align: center;
}
.acknowledgment-text a {
	color: #1d9bf0;
}
.login-text a {
	color: #1d9bf0;
}
input#first {
	border: 1px solid #dcdee2;
	height: 36px;
	width: 250px;
	border-radius: 2px;
}

.input-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin-bottom: 15px;
}
input#first {
	height: 50px;
	padding-left: 10px;
}
